@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Inter:wght@400;700&display=swap');

@import "tailwindcss";
@config "../../../tailwind.config.js";

@layer base {
  body {
    @apply bg-moto-dark text-moto-chrome font-sans;
  }

  h1, h2, h3, .digital-font {
    @apply font-mono uppercase tracking-widest;
  }
}
